select-battle-screen {

}
.button{
    width: 10rem;
  }
  
  .alignCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .alignCenterHorizontal{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .searchbar-clear-icon{
      display: none !important;
  }