<ion-content padding>

  <button ion-button round (click)="postImageRequest()">Snap Da Pic</button>
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock Screen</button> -->
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock this bitch</button>
  <button ion-button round (click)="getCurrentScreenOrientation()">check screen</button> -->
  <p id="msg"></p>
  <div>
    <!-- <table>
      <tbody *ngIf="objectives != null"> 
        <tr *ngFor="let obj of objectives">
          <td>ID - {{ obj.id }}</td>
          <td>Description - {{ obj.description }}</td>   
      </tbody>
    </table> -->
    <div>
      {{ randomObjective }}
    </div>
  </div>

</ion-content>