<ion-content padding>

  <!--<button ion-button round (click)="PostToImgur()">Snap Da Pic</button>-->
  <!--<button ion-button round (click)="PostToImgur()">Snap Da Pic</button>-->
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock Screen</button> -->
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock this bitch</button>
  <button ion-button round (click)="getCurrentScreenOrientation()">check screen</button> -->
  <p id="msg"></p>
  <div *ngIf="players != null" class="container">
    <div class="TopRow">
      <!--<div *ngIf="players != null && players.length > 0" class="TopLeft">-->
      <div *ngIf="players[0] != null" class="TopLeft">
        {{ players[0].name }} <br>
        <img *ngIf="jobImages[0] != null" [src]="jobImages[0]"> <br>
        {{ players[0].myJob }}
      </div>
    </div>


    <div class="TopRow">

      <!--<div *ngIf="players != null && players.length > 0" class="TopLeft">-->
      <div class="TopLeft">
        <div *ngIf="players[0] != null">
          {{ players[0].name }}
          <br>
          <img *ngIf="jobImages[0] != null" [src]="jobImages[0]">
          <br> {{ players[0].myJob }}
        </div>
      </div>

      <div class="TopMid">
        <div *ngIf="currentGuild != null">
          <div class="health-outer">
            <div class="health-inner" [style.width]="currentGuild.health + '%'">{{currentGuild.health}}%</div>
          </div>
          <div class="health-outer">
            <div class="health-inner" [style.width]="currentGuild.health + '%'">{{currentGuild.health}}%</div>
          </div>
          <div>
            {{ randomObjective }}
          </div>
        </div>
      </div>

      <div class="TopRight">
        <div *ngIf="players[1] != null">
          {{ players[1].name }}
          <br>
          <img *ngIf="jobImages[1] != null" [src]="jobImages[1]">
          <br> {{ players[1].myJob }}
        </div>
      </div>


    </div>

    <div class="MidRow">


      <div class="MidLeft">
        <button ion-button round (click)="PostToImgur()">Overview</button>
      </div>


      <div class="MidRight">
        <button ion-button round (click)="toOverview()">test</button>
      </div>


    </div>

    <div class="BottomRow">


      <div class="BottomLeft">
        <div *ngIf="players[2] != null">
          {{ players[2].name }}
          <br>
          <img *ngIf="jobImages[2] != null" [src]="jobImages[2]">
          <br> {{ players[2].myJob }}
        </div>
      </div>


      <div class="BottomMid">
        <div *ngIf="currentGuild != null">
          <div class="health-outer">
            <div class="health-inner" [style.width]="currentGuild.health + '%'">{{currentGuild.health}}%</div>
          </div>
        </div>
      </div>


      <div class="BottomRight">
        <div *ngIf="players[3] != null">
          {{ players[3].name }}
          <br>
          <img *ngIf="jobImages[3] != null" [src]="jobImages[3]">
          <br> {{ players[3].myJob }}
        </div>
      </div>

    </div>

  </div>

</ion-content>