battle {

}
.container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.TopRow{
  display: flex;
  //flex-direction: column;
}


.TopLeft {
  flex-flow: row nowrap;
  flex-grow: 1;
}
.Topmid {
  flex-flow: row nowrap;
  flex-grow: 2;
}
.TopRight {
  flex-flow: row nowrap;
  flex-grow: 1;
  text-align: right;
}



.MidRow{
  display: flex;
  //flex-direction: column;
}
.MidLeft {
  flex-flow: row nowrap;
  flex-grow: 1;
}
.MidMid {
  flex-flow: row nowrap;
  flex-grow: 2;
}
.MidRight {
  flex-flow: row nowrap;
  flex-grow: 1;
  text-align: right;
}

.BottomRow {
  display: flex;
 // flex-direction: column;
}
.BottomLeft {
  flex-flow: row nowrap;
  flex-grow: 1;
}
.BottomMid {
  flex-flow: row nowrap;
  flex-grow: 2;
}
.BottomRight {
  flex-flow: row nowrap;
  flex-grow: 1;
  text-align: right;
}
