<ion-content padding>

  <!--<button ion-button round (click)="PostToImgur()">Snap Da Pic</button>-->
  <!--<button ion-button round (click)="PostToImgur()">Snap Da Pic</button>-->
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock Screen</button> -->
  <!-- <button ion-button round (click)="lockScreenOrientation()">Lock this bitch</button>
  <button ion-button round (click)="getCurrentScreenOrientation()">check screen</button> -->
  <p id="msg"></p>
  <div *ngIf="players != null" class="container">


    <div class="TopRow">


      <div class="TopLeft">
        <div *ngIf="players[0] != null">
          <p class="boldText">{{ players[0].name }}</p>
          <img *ngIf="jobImages[0] != null" [src]="jobImages[0]">
        </div>
      </div>


      <div class="TopMid">
        <div *ngIf="currentGuild != null">
          <div class="health-outer">
            <div class="health-innerEnemy" [style.width]="currentGuild.health + '%'">ENEMY:  {{currentGuild.health}}%</div>
          </div>
          <p>Take a picture of a</p>
          <p class="boldText">{{ currentObjective.description }}</p>
        </div>
      </div>


      <div class="TopRight">
        <div *ngIf="players[1] != null">
          <p class="boldText">{{ players[1].name }}</p>
          <img *ngIf="jobImages[1] != null" [src]="jobImages[1]">
        </div>
      </div>


    </div>
    <div class="MidRow">


      <div class="MidLeft">
        <button ion-button round (click)="toOverview()">Overview</button>
      </div>


      <div class="MidRight">
        <button ion-button round (click)="attack()">Attack</button>
      </div>


    </div>
    <div class="BottomRow">


      <div class="BottomLeft">
        <div *ngIf="players[2] != null">
          <p class="boldText">{{ players[2].name }}</p>
          <img *ngIf="jobImages[2] != null" [src]="jobImages[2]">
        </div>
      </div>


      <div class="BottomMid">
        <div *ngIf="currentGuild != null">
          <div class="health-outer">
            <div class="health-innerYou" [style.width]="currentGuild.health + '%'">YOU:  {{currentGuild.health}}%</div>
          </div>
        </div>
      </div>


      <div class="BottomRight">
        <div *ngIf="players[3] != null">
          <p class="boldText">{{ players[3].name }}</p>
          <img *ngIf="jobImages[3] != null" [src]="jobImages[3]">
        </div>
      </div>



    </div>

  </div>

</ion-content>