<!-- Generated template for the LoginComponent component -->

<div class="alignCenter">
  <br>
  <br> Adventurer,
  <br> please hear our call.
  <br> Our kingdom is in dismay.
  <br> We plead to you to lend us your strength.
  <br> Please warrior, save our kingdom!
  <br><br></div>

<ion-item>
  <ion-label color="primary">Name:</ion-label>
  <ion-input placeholder="Text Input" [(ngModel)]="player_name"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Job:</ion-label>
  <ion-select [(ngModel)]="player_job">
    <ion-option value="knight">Knight</ion-option>
    <ion-option value="mage">Mage</ion-option>
    <ion-option value="cleric">Cleric</ion-option>
  </ion-select>
</ion-item>

<button ion-button full (click)="postPlayerRequest()">Full Button</button>


