<!-- Generated template for the LoginComponent component -->

<body class="alignCenter">

  <div>
  <br>
  <br> Adventurer,
  <br> please hear our call.
  <br> Our kingdom is in dismay.
  <br> We plead to you to lend us your strength.
  <br> Please warrior, save our kingdom!
  <br><br></div>

<ion-item>
  <ion-label color="primary">Name:</ion-label>
  <ion-input placeholder="" [(ngModel)]="player_name"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="primary">Job:</ion-label>
  <ion-select [(ngModel)]="player_job">
    <ion-option value="knight"><ion-icon name="nutrition"></ion-icon>Knight</ion-option>
    <ion-option  value="mage"><ion-icon name="color-wand"></ion-icon>Mage</ion-option>
    <ion-option value="cleric"><ion-icon name="sunny"></ion-icon>Cleric</ion-option>
  </ion-select>
</ion-item>

<button ion-button full (click)="postPlayerRequest()">LET'S GO!</button>

</body>
