<!-- Generated template for the CreationOptionsComponent component -->

<body class="alignCenter">

<h1>  
    {{text}} 
</h1>

<br>
<div class="selectors">
    <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)] ="name" placeholder="..."></ion-input>
    </ion-item>

    <ion-item>
            <ion-label>Guilds</ion-label>
            <ion-select [(ngModel)]="Guilds" interface="popover">
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            </ion-select>
        </ion-item>

    <ion-item>
        <ion-label>Time Limit</ion-label>
        <ion-select [(ngModel)]="timeLimit" interface="popover">
            <ion-option value="30">30 minuten</ion-option>
            <ion-option value="40">40 minuten</ion-option>
            <ion-option value="50">50 minuten</ion-option>
            <ion-option value="60">60 minuten</ion-option>
        </ion-select>
        </ion-item>

    <ion-item>
            <ion-label>Patricipate</ion-label>
            <ion-toggle [(ngModel)]="participate"></ion-toggle>
        </ion-item>
</div>

<div class="createButton"> 
    <button ion-button large (click)="values()">Create battle</button>
</div>
</body>