creation-options {

}

.selectors{
    color: black;
    width: 30rem;
}

.button{
    width: 20rem;
}

.alignCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}