<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- <ion-scroll > -->
<ion-content>
  <ion-list scroll="true">

    <ion-item>
      <ion-card *ngFor="let guild of guilds; let i = index">
        <ion-card-header><h1>{{guild.guildName}}</h1></ion-card-header>

        <ion-card-content>
          <ion-grid>

            <ion-row>
              <ion-col><h2 class="col2">Members</h2></ion-col>
            </ion-row>

            <ion-row *ngFor="let player of guild.players">
              <ion-col><p class="col1">{{player.name}}</p></ion-col>
              <ion-col><p class="col2">-</p></ion-col>
              <ion-col col-1><ion-icon name={{getJobIcon(player.myJob)}}></ion-icon></ion-col>
              <ion-col><p class="col3">{{player.myJob}}</p></ion-col>
            </ion-row>

            <ion-row>
              <ion-col><button ion-button (click)="join(i)" outline item-end>Join</button></ion-col>             
            </ion-row>

            <ion-row>
                <ion-col><p class="error">{{error}}</p></ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


  <div class="alignCenter">
    <button *ngIf="isCreator != false || inSession != false" ion-button (click)="startBattle()">Start Battle</button>
    <button ion-button (click)="refresh()">Refresh</button>
  </div>
</ion-content>

<!-- </ion-scroll> -->


