<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">



<ion-list>

  <ion-item>
    <ion-card *ngFor="let team of teams">
      <ion-card-header><h1>{{team}}</h1></ion-card-header>
      <ion-card-content>
        
        <ion-grid>
          <ion-row>
            <ion-col><h2 class="col2">Members</h2></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><p class="col1">Trump</p></ion-col>
            <ion-col><p class="col2">-</p></ion-col>
            <ion-col col-1><ion-icon name="color-filter"></ion-icon></ion-col>
            <ion-col><p class="col3">Knight</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><p class="col1">Denny</p></ion-col>
            <ion-col><p class="col2">-</p></ion-col>
            <ion-col col-1><ion-icon name="color-wand"></ion-icon></ion-col>
            <ion-col><p class="col3">Mage</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><p class="col1">Stijn</p></ion-col>
            <ion-col><p class="col2">-</p></ion-col>
            <ion-col col-1><ion-icon name="sunny"></ion-icon></ion-col>
            <ion-col><p class="col3">Cleric</p></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><p class="col1">Steven</p></ion-col>
            <ion-col><p class="col2">-</p></ion-col>
            <ion-col col-1><ion-icon name="color-wand"></ion-icon></ion-col>
            <ion-col><p class="col3">Mage</p></ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>



<!-- <ion-slide-box>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/mario.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/donkey_kong.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/link.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/samus.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/kirby.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/yoshi.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/fox.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
  <ion-slide>
    <ion-content>
      <div class="list card ">
        <div class="item item-avatar">
          <img src="https://www.smashbros.com/assets_v2/img/fighter/pict/pikachu.png">
          <h2>Author name</h2>
        </div>
      </div>
    </ion-content>
  </ion-slide>
</ion-slide-box> -->